<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('CATEGORIES - TECHSHOP')" ></head>

<body>

	<div class="container-fluid">
		<!-- menu -->
	<div th:replace="navigation :: menu"></div>

		<div>
			<h2>Manage Categories</h2>
			<!-- create new -->
			<a th:href="@{/categories/new}">Create New Category</a>
			&nbsp;|&nbsp;
			<!-- csv --> 
			<a th:href="@{/categories/export/csv}">Export CSV</a>
			&nbsp;|&nbsp;
			<!-- excel --> 
			<a th:href="@{/categories/export/excel}">Export Excel</a>
			&nbsp;|&nbsp;
			<!-- pdf --> 
			<a th:href="@{/categories/export/pdf}">Export Pdf</a>
		</div>
		
		<!-- message -->
		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>

		<!-- search -->
		<div class="">
			<form th:action="@{/categories/page/1}" class="form-inline m-3">
				<input type="hidden" name="sortField" th:value="${sortField}" />
				<input type="hidden" name="sortDir" th:value="${sortDir}" />
				Filter:&nbsp;
				<input type="search" name="keyword" th:value="${keyword}" class="form-control" required />
				&nbsp;&nbsp;
				<input type="submit" value="Search" class="btn btn-primary" />
				&nbsp;&nbsp;
				<input type="button" value="Clear" class="btn btn-danger" onClick="clearFilter()" />
			</form>
		</div>

		<div>
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Category Image</th>
						<th>Category Name</th>
						<th>Alias</th>
						<th>Enabled</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="category : ${category}">
						<td>[[${category.id}]]</td>
						<td>
							<img th:if="${category.image != null}" th:src="@{${category.photosImagePath}}" style="width: 100px">
						</td>
						<td>[[${category.name}]]</td>
						<td>[[${category.alias}]]</td>
						<td>
							<a title="Disable this category" th:if="${category.enabled == true}"
								th:href="@{'/categories/' + ${category.id} + '/enabled/false'}"
								class="fas fa-check-circle fa-2x icon-green"></a>
							<a title="Enable this category" th:if="${category.enabled == false}"
								th:href="@{'/categories/' + ${category.id} + '/enabled/true'}"
								class="fas fa-circle fa-2x icon-dark"></a>
						</td>
						<td>
							<a href="" class="fas fa-edit fa-2x icon-green" th:href="@{'/categories/edit/' + ${category.id}}"
								title="Edit Category"></a>
							&nbsp;
							<a class="fas fa-trash fa-2x icon-dark link-delete"
								th:href="@{'/categories/delete/' + ${category.id}}	" title="Delete Category"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	<div th:replace="fragments :: footer"></div>
	
	</div>

	<!-- modal -->
	<div class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="model-header">
					<h4 class="model-title" id="modelTitle">Delete Confirmation</h4>
				</div>
				<div class="modal-body">
					<span id="modalBody"></span>
				</div>
				<div class="modal-footer">
					<a href="" class="btn btn-success" id="yesBtn">Yes</a>
					<button class="btn btn-danger" type="button" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>


	<script>
	</script>
</body>

</html>