<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Your Account Detail')" ></head>

<body>

	<div class="container-fluid">
			<!-- menu -->
	<div th:replace="navigation :: menu"></div>


		<!-- table -->

		<form enctype="multipart/form-data" th:action="@{/account/update}" method="post" style="max-width: 700px; margin: 0 auto" th:object="${user}">
			<div class="text-center">
				<h2>Your Account Detail</h2>
			</div>
			<div class="border border-secondary rounded p-3">
				<!-- id -->
				<input type="hidden" th:field="*{id}">
				<!-- email -->
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Email</label>
					<div class="col-sm-8">
						<input type="email" class="form-control" th:field="*{email}" readonly="readonly"/>
					</div>
				</div>
				<!-- fname -->
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">First Name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" th:field="*{firstName}" required min="2"
							maxlength="64" />
					</div>
				</div>
				<!-- lastname -->
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Last Name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" th:field="*{lastName}" required min="2"
							maxlength="64" />
					</div>
				</div>
				<!-- pass -->
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Password</label>
					<div class="col-sm-8">
						<input type="password" class="form-control" th:field="*{password}"
							placeholder="đổi pass ở đây nè dmm." minlength="5" maxlength="64"
							oninput="checkPasswordMatch(document.getElementById('confirmPassword'))" />
					</div>
				</div>
								<!-- pass -->
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Confirm Password</label>
					<div class="col-sm-8">
						<input type="password" class="form-control" id="confirmPassword" minlength="5" maxlength="64" />
					</div>
				</div>
				<!-- roles -->
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Roles</label>
					<div class="col-sm-8">
						<span><b>[[${user.roles}]]</b></span>
					</div>
				</div>

				<!-- image -->
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Photo: </label>
					<div class="col-sm-8">
						<input type="hidden" th:field="*{photos}" />
						<input name="image" type="file" id="fileImage" accept="image/png, image/jpeg" />
						<img class="mb-2 thumbnail-avt" alt="Photo view" id="thumbnail"
							th:src="@{${user.photosImagePath}}" />
					</div>
				</div>
				<!-- btn -->
				<div class="text-center">
					<input type="submit" value="Save" class="btn btn-primary m-3" />
					<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
				</div>

			</div>
		</form>
	<div th:replace="fragments :: footer"></div>
	</div>
	<script type="text/javascript">
		moduleURL = "[[@{/}]]";
	
		function checkPasswordMatch(confirmPassword) {
			if(confirmPassword.value != $("#password").val()) {
				confirmPassword.setCustomValidity("Pass ko giong dmm!");
			} else {
				confirmPassword.setCustomValidity("");
			};
		};
	</script>
	<script th:src="@{/js/common_form.js}"></script>
</body>

</html>