<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="page_head(title)">
		<!-- Required meta tags -->
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=120, mininum-scale=1.0">
		<title>[[${title}]]</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
		<link rel="stylesheet" th:href="@{/fontawesome/all.css}" type="text/css">
		<link rel="stylesheet" th:href="@{/style.css}" type="text/css">
		
		<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
		<script type="text/javascript" th:src="@{/js/common.js}" ></script>
		
		
		</head>
<body>

<div th:fragment="footer" class="text-center m-3">
			<p>Techshop Control Panel - Copyright &copy; HuyQuang
</div>

<th th:fragment="column_link(fieldName, columnLabel)">
	<a th:href="@{'/users/page/' + ${currentPage}
		+ '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}" class="text-white">
		[[${columnLabel}]]
	</a>
		 <span th:if="${sortField == fieldName}" 
		 	th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down' }">
		 </span>
</th>


 <a th:fragment="page_link(pageNum, label)"
	 	class="page-link" th:href="@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]
</a>
	 	
	 	
<div th:fragment="category_status" th:remove="tag" >
	<a title="Disable this category" th:if="${category.enabled == true}"
		th:href="@{'/categories/' + ${category.id} + '/enabled/false'}"
		class="fas fa-check-circle fa-2x icon-green"></a>
	<a title="Enable this category" th:if="${category.enabled == false}"
		th:href="@{'/categories/' + ${category.id} + '/enabled/true'}"
		class="fas fa-circle fa-2x icon-dark"></a>
</div>

<div th:fragment="category_action" th:remove="tag">
	<a href="" class="fas fa-edit fa-2x icon-green" th:href="@{'/categories/edit/' + ${category.id}}"
		title="Edit Category"></a>
		&nbsp;

	<a class="fas fa-trash fa-2x icon-dark link-delete"
		th:href="@{'/categories/delete/' + ${category.id}}" th:entityId="${category.id}" title="Delete Category"></a>

</div>
</body>
</html>	