<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
   	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: page_head('HOME - TECHSHOP')" ></head>
<body>

<div class="container-fluid">

	<!-- menu -->
	<div th:replace="navigation :: menu"></div>
	
	<div>
		<h2>Tech Shop</h2>
		 Welcome: <a th:href="@{/account}" sec:authentication="principal.fullname" ></a>
		 &nbsp;
		 <span sec:authentication="principal.authorities" ></span>
		
	</div>
	
	<div th:replace="fragments :: footer"></div>
</div>
</body>
</html>