<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<!-- modal -->
	<div th:fragment="modal_dialog" class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="model-header">
					<h4 class="model-title" id="modelTitle">Warning</h4>
					<button class="close" type="button" data-dimiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="modalBody"></span>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger" type="button" data-dimiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	
<!-- modal -->
	<div th:fragment="confirm_modal" class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="model-header">
					<h4 class="model-title" id="modelTitle">Delete Confirmation</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="confirmText"></span>
				</div>
				<div class="modal-footer">
					<a class="btn btn-success" id="yesButton" >Yes</a>
					<button class="btn btn-danger" type="button" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>


</body>

</html>