<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- modal -->
	<div  th:fragment="modal_dialog" class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="model-header">
					<h4 class="model-title" id="modelTitle">Warning</h4>
				</div>
				<div class="modal-body">
					<span id="modalBody"></span>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</body>

</html>