<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<!-- modal -->
	<div th:fragment="content" th:remove="tag">
		<div class="row" id="divProductImages">
			<div class="col border m-3 p-2" id="divExtraImages0">
				<div class=""><label for="">Main Image: </label></div>
				<div class="m-2">
					<img id="thumbnail" th:src="@{${product.mainImagePath}}" alt="Main image review" class="img-fluid">
				</div>
				<div class="">
					<input type="file" id="fileImage" name="fileImage" required accept="image/png, image/jpeg" />
				</div>
			</div>
			
			<div class="col border m-3 p-2">
				<div id="extraImageHeader0"><label for="">Extra Image #1: </label></div>
				<div class="m-2">
					<img id="extraThumbnail0" th:src="@{/images/image-thumbnail.png}" alt="Extra image #1" class="img-fluid">
				</div>
				<div class="">
					<input type="file" name="extraImage" accept="image/png, image/jpeg" />
				</div>
			</div>
		</div>
	</div>
</body>

</html>